/* styles.css */
.body{
  min-height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
  }
  
  .left,
  .right {
    display: flex;
    align-items: center;
    margin: 0 100px; 
  }
  
  .center {
    display: flex;
    align-items: center;
    margin: 0 100px;
  }
  
  .logo {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .sidebar-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .right img {
    width: 30px; /* adjust the width as needed */
    margin-left: 10px; /* adjust the margin as needed */
  }
  