/* Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 120px;
  background-color: #333;
  color: #fff;
}

.left {
  flex: 1;
}

.middle {
  flex: 2;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 120px;
    background-color: #333;
    color: #fff;
    margin-bottom: 130;
  }
  
  .left {
    flex: 1;
  }
  
  .middle {
    flex: 2;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.right a {
  margin-right: 20px;
}

.right a svg {
  font-size: 40px;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.title {
  margin: 0;
  font-size: 18px;
}
