.sidebar-button-container {
    position: fixed;
    top: 130px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 999;
    width: 20px;
  }
  
  .sidebar-button {
    z-index: 999;
    left: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;  
    font-size: 16px;
    cursor: pointer;
    width: 40px;
  }
  
  .sidebar-button:hover {
    background-color: #161716;
  }
  
  .icon {
    margin-right: 0px;
    /* z-index: 999; */
  }
  
  